*{
    padding: 0;
    margin: 0;
}

body{
    background: url(https://www.maxpixel.net/static/photo/1x/Grey-Clouds-Weather-Background-Dark-Light-4050451.jpg);
    background-size: cover;
 

}

h2{
    color: white;
    font-size: large;
    text-align: center;
}

.main{
    text-align: center;
     font-size: 40px;
    color: aliceblue;
    margin-top: 40px;
 
}
button{
    background: lightblue;
}
input{
    border: 1px solid wheat;
    border-radius: 5px;
    font-size: medium;
    margin: 15px;
    text-align: center;
}


.box{
    display:flex;
    text-align: center;
    margin:0 auto;


}

.second{

    display:flex;
    text-align: center;
    margin:0 auto;


}


.mini{
    text-align: center;
    justify-content: center;
    font-size: 31px;
    color: white;
    margin: 10px auto;
}
.play{
    text-align: center;
    max-width: 80px;
    margin : 0 auto;
    border-radius: 12px;
}

a{text-decoration: none;
color: white;
font-size: 20px;}

.play:hover{
    color: white;
    background-color: rgb(212, 214, 235);

}

input{
    width: 202px;
    height: 38px;
    border-radius: 8px;
    background: transparent;
    color: white;
}
::placeholder{
    margin-left :15px;
    color: white; 
    font-size: medium;

}
    
.img{
    width: 80px;
}